# Core
fastapi[standard]
uvicorn[standard]
pydantic
vllm
bitsandbytes
torch
llama-cpp-python[server]

# LangGraph / LangChain
langgraph
langchain
langchain-core
langchain-openai

# Retrieval
chromadb
rank-bm25
FlagEmbedding

# Frontend
gradio

# Config
pyyaml
typing-extensions
tqdm
ragas

# API production
slowapi


